<html>

    <head>
        <title>Sandbox</title>
        <script src="https://threejs.org/build/three.js"></script>
<!--         <script src="../static/draw2.js"></script> -->
        <script src="../static/demo.js"></script>

        <style>   

        </style>
        
    </head>
    
    <body>
        <h2> Seek </h2>
        <br>
        <span id="seek"></span>
        
        <h2> Arrive </h2>
        <br>
        <span id="arrive"></span>
        
        <script>
        "use strict";

        var seek_vehicle = new Demo.Vehicle(
            new THREE.Vector3(0, 0, 0),
            new THREE.Vector3(0, 0, 0),
            2,
            100,
            new THREE.Vector3(0, 0, 0));
        
        seek_vehicle.move = function (world) {
            var desired_v = this.target.clone();
            desired_v.sub(this.p);
            desired_v.normalize();
            desired_v.multiplyScalar(this.max_speed);
            
            var steering = desired_v.clone();
            steering.sub(this.v);
            steering.clampLength(0, this.max_impulse);
            this.v.add(steering);
        }
        
        var seek_demo = new Demo.DemoWindow(document.getElementById("seek"));
        seek_demo.add_vehicle(seek_vehicle);
        
        var arrive_vehicle = new Demo.Vehicle(
            new THREE.Vector3(0, 0, 0),
            new THREE.Vector3(0, 0, 0),
            2,
            100,
            new THREE.Vector3(0, 0, 0));
            
        arrive_vehicle.move = function (world) {
            var desired_v = this.target.clone();
            desired_v.sub(this.p);
            var distance = desired_v.length();
            var ramped_speed = this.max_speed * (distance / 200);
            var speed = Math.min(ramped_speed, this.max_speed);
            desired_v.normalize();
            desired_v.multiplyScalar(speed);
            var steering = desired_v.clone();
            steering.sub(this.v);
            steering.clampLength(0, this.max_impulse);
            this.v.add(steering);
        }
        
        var arrive_demo = new Demo.DemoWindow(document.getElementById("arrive"));
        
        arrive_demo.add_vehicle(arrive_vehicle);
        


        </script>

    </body>
</html>